<div *ngIf="errorMessage" class="alert alert-danger" id="error">{{ errorMessage }}</div>

<!-- 
<div class="container mt-5" id="top">
    <div class="card">
      <div class="card-body" id="body">
        <h2 class="card-title">Employee Login</h2>
        <form (ngSubmit)="login()">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
   -->


  <div class="card text-center" id="top"> 
    <div class="card-header">
      <h2><i>Employee Login</i></h2>
    </div>
    <div class="card-body" id="body">
        <div class="row">
            <form (ngSubmit)="login()">
                <div class="form-group">
           <div>
           <label for="username">Username</label><br>
            <input type="text" name="firstname" [(ngModel)]="username"class="form-control" required>
           </div>
           <div>
            <label for="">Password</label><br>
            <input type="password" name="password" [(ngModel)]="password" class="form-control" required>
           </div>
          </div>
        <button type="submit"  class="btn btn-primary">Login</button>
    </form>
</div>
    </div>
  </div>