#top
{
margin-left:18em;
margin-right: 12em;
margin-top: 1em;
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 1px;
/* background-color: rgba(196, 255, 237, 0.534); */
}
h4{
    margin-top: 2em;
}
#head{
    height: 3em;
}

#det
{
    margin-top:1em;
}